/*  main style code for Nantucket skin */
body {
background-color: #485C37;
font-family: helvetica, verdana, arial;
}
table {
padding: 0px;
border: solid 1px #919664;
border-collapse: collapse;
}
td {
color: #000;
font-size: 8pt;
}
td.logo {
vertical-align: center;
padding-bottom: 5px;
align: left;
background-color: #003300;
padding: 5px;
}
td.frametitle {
text-align: center;
color: #F2E7BA;
padding: 3px;
padding-bottom: 10px;
font-size: 9pt;
background-color: #003300;
}
td.linkbullet {
padding-right: 5px;
vertical-align: center;
padding-bottom: 5px;
}
td.link {
vertical-align: center;
padding-bottom: 5px;
background-color: #CECFC7;
}
td.line {
vertical-align: center;
border-bottom-style: groove;
border-bottom-color: #006400;
border-bottom-width: 2px;
align: left;
}
a {
color: #8496b9;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: none;
}
a:hover {
background-color: #003300;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: none;
}
caption {
text-align: center;
vertical-align: bottom;
color: #efe022;
font-family: helvetica, verdana, arial;
font-weight: bold;
font-size: 10pt;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
img {
border: none;
}
.clearboth {
clear: both;
}
.credits {
margin-top: 5px;
width: 165px;
text-align: left;
}
p.copyrightframe {
color: #F2E7BA;
padding-top: 3px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 8pt;
margin-left: 2px;
text-decoration: none;
}
a.copyrightframe {
color: #F2E7BA;
font-size: 8pt;
text-decoration: none;
}
a.copyrightframe:hover {
color: #F2E7BA;
font-size: 8pt;
text-decoration: underline;
}


/* start of style code for vertical menu bar */
/*- Menu 1--------------------------- */
/*- source: www.exploding-boy.com */

#menu1 {
width: 170px;
margin: 0px;
margin-top: 5px;
border-style: solid solid none solid;
border-color: #3D261D;
border-size: 1px;
border-width: 1px;
}
#menu1 li a {
height: 32px;
  voice-family: "\"}\""; 
  voice-family: inherit;
  height: 24px;
text-decoration: none;
font-size: 8pt;
border-bottom: 1px solid black;
}
#menu1 li a:link, #menu1 li a:visited {
color: #000;
display: block;
background:  url(menu1.gif);
padding: 8px 0 0 10px;
}
#menu1 li a:hover {
color: #000;
background:  url(menu1.gif) 0 -32px;
padding: 8px 0 0 10px;
}
#menu1 li.nolink span {
height: 32px;
voice-family: "\"}\""; 
voice-family: inherit;
height: 24px;
text-decoration: none;
font-size: 8pt;
}
#menu1 li.nolink span, #menu1 li.nolink {
color: #000;
display: block;
background:  url(menu1.gif);
padding: 8px 0 0 10px;
font-size: 8pt;
font-weight: bold;
}
#menu1 li.nolink span {
color: #000;
background:  url(menu1.gif);
padding: 8px 0 0 10px;
font-size: 8pt;
font-weight: bold;
}
#menu1 li a.subcat {
height: 32px;
  voice-family: "\"}\""; 
  voice-family: inherit;
  height: 24px;
text-decoration: none;
font-size: 8pt;
padding-left: 30px;
}
#menu1 li a.subcat:link, #menu1 li a.subcat:visited {
color: #000;
display: block;
background:  url(menu1.gif);
padding: 8px 0 0 10px;
padding-left: 30px;
}
#menu1 li a.subcat:hover {
color: #000;
background:  url(menu1.gif) 0 -32px;
padding: 8px 0 0 10px;
padding-left: 30px;
}
/* end of style code for vertical menu bar */

/* Style code unique to main frame starts here */
body.main {
background-color: #CECFC7;
font-family: helvetica, verdana, arial;
}
table.main {
border: 0px;
color: #000;
}
td.main {
color: #000;
font-family: helvetica, verdana, arial;
font-size: 8pt;
padding-left: 10px;
}
td.logomain {
height: 200px;
vertical-align: center;
padding-left: 5px;
align: left;
padding-left: 10px;
}
td.linkmain {
vertical-align: center;
padding-bottom: 5px;
padding-left: 10px;
}
a.main {
color: #000000;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: none;
}
a.main:hover {
color: #1c86ee;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: underline;
}
a.logo:hover {
background-color: #CECFC7;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: none;
}
td.maintitle {
font-size: 26px;
font-weight: bold;
padding-left: 15px;
color: #000;
}
td.mainsplash {
padding-left: 10px;
padding-top: 10px;
padding-bottom: 15px;
}
td.maincredits {
font-size: 16px;
font-weight: normal;
color: #000;
padding-left: 10px;
padding-bottom: 10px;
}

/* style code for About, Acknowledgement, FAQ and Glossary pages starts here */

body.about {
color: #000000;
background-color: #CECFC7;
}
table.about {
width: 600px;
border: 0px black solid;
margin-left: 15px;
margin-top: 10px;
}
td.abouttitle {
color: #000000;
font-family: arial, helvetica, verdana;
font-size: 20pt;
text-align: left;
font-weight: bold;
padding-bottom: 10px;
padding-top: 3px;
padding-left: 3px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #485C37;
background-color: #F2F1E3;
}
td.alphastrip {
font-family: arial, helvetica, verdana;
font-size: 9pt;
font-weight: normal;
text-align: left;
padding-bottom: 10px;
margin-bottom: 100px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #485C37;
}
td.spacer {
height: 25px;
}
dt.alphaheader {
font-family: arial, helvetica, verdana;
font-size: 12pt;
font-weight: bold;
color: #485C37;
text-align: left;
border-bottom: solid 1px #485C37;
padding-left: 0px;
background-color: #F2F1E3;
}
dl.glossary {
font-family: arial, helvetica, verdana;
font-size: 9pt;
font-weight: normal;
color: #000000;
text-align: left;
padding-left: 10px;
}
dt.glossary {
font-family: arial, helvetica, verdana;
font-size: 9pt;
font-weight: bold;
color: #000000;
text-align: left;
padding-left: 0px;
}
dd.glossary {
font-family: arial, helvetica, verdana;
font-size: 9pt;
font-weight: normal;
color: #000000;
padding-left: 10px;
}
dl.topofpage {
font-family: arial, helvetica, verdana;
font-size: 8pt;
font-weight: normal;
text-align: right;
color: #CECFC7;
}
a.about {
color: #000000;
font-family: helvetica, verdana, arial;
font-size: 10pt;
font-weight: bold;
text-align: left;
text-decoration: none;
}
a.about:hover {
color: #485C37;
background-color: #F2F1E3;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: underline;
}
a.glossary {
color: #009933;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: none;
padding-left: 2px;
padding-right: 2px;
padding-top: 5px;
padding-bottom: 5px;
}
a.glossary:hover {
color: #009933;
font-family: helvetica, verdana, arial;
font-size: 10pt;
text-align: left;
text-decoration: none;
background-color: #F2F1E3;
}
a.topofpage {
font-family: arial, helvetica, verdana;
font-size: 8pt;
font-weight: normal;
text-align: right;
color: #485C37;
background-color: #CECFC7;
text-decoration: none;
}
a.topofpage:hover {
font-family: arial, helvetica, verdana;
font-size: 8pt;
font-weight: normal;
text-align: right;
color: #485C37;
background-color: #CECFC7;
text-decoration: none;
}
ul.about {
list-style: disc;
color: #000000;
font-family: arial, helvetica, verdana;
font-size: 10pt;
text-align: left;
padding-left: 20px;
margin-left: 12px;
}
li.about {
padding-bottom: 5px;
}
.listheader {
text-decoration: underline;
}
p.about {
color: #000000;
font-family: arial, helvetica, verdana;
font-size: 10pt;
text-align: left;
text-decoration: none;
padding-left: 15px;
}
p.aboutheader {
color: #000000;
font-family: arial, helvetica, verdana;
font-size: 12pt;
font-weight: bold;
text-align: left;
text-decoration: none;
}
p.subscript {
color: #000000;
font-family: arial, helvetica, verdana;
font-size: 8pt;
text-align: left;
text-decoration: none;
}
div.glossaryicon {
float: left;
padding-top: 1px;
padding-right: 5px;
}
/* end of style code for About, Acknowledgement, FAQ and Glossary pages */

/* style code for Search page starts here */
body.search {
	font-family: arial, verdana, helvetica;
	background-color: #FFFFFF;
	margin-left: 20px;
}
table.search {
	width: 100%;
	margin-bottom: 0px;
	border: 0px;
}
table.searchmodule {
	width: 70%;
	margin-top: 20px;
	margin-bottom: 10px;
	border-collapse: collapse;
	border: 0px;
}
tr.section {
	background-color: #CECFC7;
}
th.search {
	color: #09600F;
	text-align: left;
	font-size: 1em;
	width: 30%;
}
td.submitsearch {
	font-size: .8em;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #485C37;
	border-bottom: solid 1px #485C37;
}
td.spacer {
	height: 15px;
}
td.padder {
	height: 3px;
	background-color: #CECFC7;
}
td.paddertopleft {
	height: 3px;
	background-color: #CECFC7;
	border-top : solid 1px green;
	border-left : solid 1px green;
}
td.paddertopright {
	height: 3px;
	background-color: #CECFC7;
	border-top : solid 1px green;
	border-right : solid 1px green;
}
td.padderbottomleft {
	height: 3px;
	background-color: #CECFC7;
	border-bottom : solid 1px green;
	border-left : solid 1px green;
}
td.padderbottomright {
	height: 3px;
	background-color: #CECFC7;
	border-bottom : solid 1px green;
	border-right : solid 1px green;
}
td.sectionleft {
	background-color: #CECFC7;
	font-size: .9em;
	padding-top: 3px;
	padding-bottom: 3px;
	border-left : solid 1px green;
	text-align: right;
}
td.sectionright {
	background-color: #CECFC7;
	font-size: .9em;
	font-weight: 100;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right : solid 1px green;
}
p.searchtitle {
	font-size: 1.4em;
	color: #485C37;
	font-weight: bold;
}
p.instruct {
	font-size: .8em;
	color: #485C37;
	font-weight: normal;
	padding-bottom: 7px;
}
.searchdisplay {
	padding-right: 10px;
	font-size: .9em;
	font-weight: normal;
}
.searchmatches {
	padding-right: 15px;
	font-size: .9em;
	font-weight: normal;
}
.search {
	padding-right: 5px;
}
.clear {
}
/* style code for Search page ends here */

/* style code for Search Results starts here */
table.resultsdisplay {
	border: 0px;
	border-collapse: collapse;
	margin: 0px;
}
td.resultsthumb {
	vertical-align: bottom;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	text-align: center;
	border-left: 16px solid #CECFC7;
	border-right: 16px solid #CECFC7;
}
td.resultscaption {
	font-family: arial, helvetica, sans;
	color: #00008B;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 4px;
	text-align: center;
	margin-right: 0px;
	font-size: 12px;
	background-color: #F2F1E3;
	border-left: 16px solid #CECFC7;
	border-right: 16px solid #CECFC7;
	border-bottom: 8px solid #CECFC7;
}
td.rowspacer {
	height: 20px;	
}
a.thumbnail:hover {
	border: 1px;
}
a.resultscaption {
	color: #006633;
	background-color: #F2F1E3;
}
a.resultscaption:hover {
	color: #006633;
	background-color: #F2F1E3;
	text-decoration: underline;
}
#numresults {
	font-family: arial, helvetica, sans;
	font-weight: bold;
	font-size: 15px;
	color: #006633;
	padding-bottom: 10px;
	border-bottom: 2px solid #3b7b49;
	margin-bottom: 10px;
}
.num {
	background-color: #3b7b49;
	color: #F2F1E3;
	padding: 2px;
	font-weight: bold;
}
/* style code for Search Results page ends here */

/* style code for List pages starts here */
table.header {
	  margin-left: 20px;
	  margin-right: 0px;
	  border-collapse: collapse;
	  border: 0px;
	width: 90%;
}
table.specieslist {
	  margin-left: 0px;
	  margin-right: 0px;
	  border-collapse: collapse; 
	  border: 0px;
}
table.pagenum {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	border: 0px;
	border-top: 2px solid #485C37;
	margin-top: 30px;
}
td.descrip {
	  color: #485C37;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  font-weight: bold;
	  padding-bottom: 15px;
	  padding-top: 30px;
	  padding-left: 0px;
}
td.famheader {
	color: #000000;
	font-family: helvetica, verdana, arial;
	font-size: 11pt;
	font-weight: bold;
	padding-left: 0px;
	padding-top: 16px;
	padding-bottom: 2px;
	text-transform: uppercase;
}
td.commonheader {
	   color: #000000;
	   font-family: times-roman new, times, serif;
	   font-size: 12pt;
	   font-weight: bold;
	   border-bottom-style: solid;
	   border-bottom-color: #000000;
	   border-bottom-width: 1px;
	   padding-right: 25px;
	padding-left: 50px;
}
td.sciheader {
	   color: #000000;
	   font-family: times-roman new, times, serif;
	   font-size: 12pt;
	   font-weight: bold;
	   font-style: italic;
	   border-bottom-style: solid;
	   border-bottom-color: #000000;
	   border-bottom-width: 1px;
	padding-left: 50px;
}
td.spacerheight {
   height: 10px;
}
td.commonname {
    color: #000000;
    font-family: helvetica, verdana, arial;
    font-size: 10pt;
    padding-bottom: 7px;
    padding-right: 35px;
	padding-left: 50px;
}
td.sciname {
    color: #000000;
    font-family: helvetica, verdana, arial;
    font-style: italic;
    font-size: 10pt;
    padding-bottom: 7px;
    padding-right: 35px;
	padding-left: 50px;
}
td.previous {
   color: #336600;
   font-family: helvetica, verdana, arial;
   font-size: 9pt;
   text-align: right;
   width: 50%;
   padding: 0px;
   padding-top: 9px;
   vertical-align: bottom;
}
td.next {
   color: #336600;
   font-family: helvetica, verdana, arial;
   font-size: 9pt;
   text-align: left;
   width: 50%;
   padding: 0px;
   padding-top: 9px;
   vertical-align: bottom;
}
td.pagenum {
   font-family: helvetica, verdana, arial;
   font-size: 10pt;
   color: #000000;
   margin: 0px;
   padding-top: 10px;
   padding-right: 8px;
   padding-left: 8px;
   padding-bottom: 0px;
   text-align: center;
   white-space: nowrap;
   vertical-align: bottom;
}
a.commonname1st {
	  color: #336600;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
}
a.commonname1st:hover {
	  color: #485C37;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  background-color: #F2F1E3;
}
a.sciname2nd {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
}
a.sciname2nd:hover {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  background-color: #F2F1E3;
}
a.commonname2nd {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
}
a.commonname2nd:hover {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  background-color: #F2F1E3;
}
a.sciname1st {
	  color: #336600;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
}
a.sciname1st:hover {
	  color: #485C37;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  background-color: #F2F1E3;
}
a.prevnext {
   color: #669900;
   text-decoration: none;
}
a.prevnext:hover {
   color: #669900;
   text-decoration: underline;
   background-color: #F2F1E3;
}
span.sciname {
	   color: #000000;
	   font-family: helvetica, verdana, arial;
	   font-style: italic;
	   font-size: 10pt;
}
span.pagenum {
   color: #003300;
   font-weight: bold;
}
/* style code for List pages ends here */

/* style code for Taxon pages starts here */
body.taxonpage {
	color: #000000;
	background-color: #CECFC7;
}
table.taxontitle {
		border: groove 4px #3b7b49;
		background-color: #F2F1E3;
		margin-left: 4px;
		margin-bottom: 20px;
		width: 600px;
}
table.outerimageframe {
		width: 600px;
		vertical-align: top;
		border: 0px;;
}
table.imageframe {
		font-color: #000;
		width: 600px;
		background-color: #F2F1E3;
		border: groove 3px #3b7b49;
		margin-left: 1px;
}
table.images {
		border: 0px;
		text-align: left;
}
table.details {
		background-color: #F3F3F3;
		width: 600px;
} 
table.simfam {
		margin-left: 20px;
		border-collapse: collapse;
		border: solid 1px black;
		width: 90%;
}	
table.taxoncredits {
		width: 600px;
		border: groove 4px #3b7b49;
		background-color: #F2F1E3;
		margin-left: 4px;
}
td.comnametaxon {
		border-style: none;
		font-family: "Arial", Verdana, sans-serif;
		font-weight: bold;
		font-size:20pt;
		padding:10px;
		font-color: #000000;
		align: left;
		text-align: left;
}
td.scinametaxon {
		border-style: none;
		font-family: "Times New Roman", Times, serif;				font-size:18pt;
		padding:10px;
		font-color: #000000;
		align: left;
		text-align: left;
}
td.famname {
		border-style: none;
		font-family: "Arial", Verdana, sans-serif;						font-size:14pt;
		padding:10px;
		font-color: #000000;
		text-align: right;
		padding-top: 15px;
}
td.simfam {
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11pt; 
}
td.thumb {
		background-color: #F2F1E3;
		padding-bottom: 0px;
		padding-top: 3px;
		padding-left: 3px;
		padding-right: 3px;
		vertical-align: bottom;
}
td.id_text {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 8pt;
		font-weight: normal;
		text-align: top;
		color: #000;
		padding-top: 0px;
		padding-bottom: 30px;
		padding-left: 8px;
}
img.taxon {
		vertical-align: text-bottom;
		border: groove 2px black;
}
img.thumb {
		padding: 0px;
}
.identification_td {
		background-color: white;
		padding-top: 5px;
		padding-left: 5px;
}
.id_strong {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11pt;
}
.sc_name {
		font-family: Arial, Helvetica, sans-serif;
		font-style:italic;
		font-size: 11pt;
}
.detail_text {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
} 
.photocred {
		font-family: Arial, Helvetica, sans-serif;
		font-size:8pt;
		color: #000000;
		text-align: right;
		padding-right: 3px;
		padding-bottom: 10px;
}
div.thumb {
		padding-bottom: 0px;
		padding-top: 4px;
		padding-left: 4px;
		padding-right: 4px;
		border: groove 0px #000;
		background-color: #F3F3F3;
}
.odd {
		background-color: #e3f8cb;
}
.even {
		background-color: #ffffff;
} 
.odd2 {
		background-color: #e3f8cb;
}
.even2 {
		background-color: #ffffff;
}
p.taxoncredits { 
		font-family: Arial, Helvetica, sans-serif;
		font-size:9pt;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5px;
}
ul.taxon {
		list-style: disc;
		margin: 20px;
		padding: 0px;
		padding-left: 10px;
}
p.link {
padding-left: 10px;
}
a.link, a.link:visited, a.link:active {
background-color: #FFFFCC;
color: #000000;
font-weight: bold;
padding: 3px;
margin-right: 10px;
border-top: 2px solid #f3f3f3;
border-left: 2px solid #f3f3f3;
border-bottom: 2px solid #4a4a4a;
border-right: 2px solid #4a4a4a;
}
a.link:hover {
background-color: #DDEEE2;
color: #000000;
font-weight: bold;
padding: 3px;
border-bottom: 2px solid #f3f3f3;
border-right: 2px solid #f3f3f3;
border-top: 2px solid #4a4a4a;
border-left: 2px solid #4a4a4a;
}
input.addlink {
background-color: #CECFC7;
border: 0px #333333 groove;
font-weight: bold;
font-size: 10pt;
text-decoration: underline;
margin-bottom: -3px;
color: #006633;
}
input.addlink:hover {
color: #009933;
background-color: #CECFC7;
border: 0px groove #333333;
outline: 0px solid #333333;
text-decoration: none;
}
/* style code for Taxon pages ends here */